<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Memo Submission Form</title>
  </head>
  <body>
  	<!-- <form role="form"> -->

  
    


   <!--  Name: <input type="text" id="myText" value="Mickey">

	<p>Click the button to change the value of the text field.</p> -->

	<!-- <button onclick="dealer()">Send to DB</button> -->

	<!-- </form> -->
	<form method="POST"  action="/_create">
		<input type=date name="date" id="date" value="2017-01-01" />
    	<input type=time name="begin_time" id="begin_time" value="00:00"    />
        <input type="text" name="text">
        <input type="submit" name="create" value="Send">
    </form>
    <button onclick="ontest()">test?</button>
    <!-- request.args.get(isit) -->
  

  <script>

  	function memoizer(){
  		var textwork = document.getElementById('text').value;
  	 	console.log(textwork);
  	 }
  	// function ontest(){
  	// 	var isit = request.args.get("text");
  	// 	console.log(isit);

  	// }
  	

  

  	

  	
// <!--   	// var deresult = dealer();
//   	// console.log(deresult);
//   //var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;
  //var TIME_CALC_URL = SCRIPT_ROOT + "/_calc_times";

  // Pass calctimes a <td> element containing the data for a control.
  // It extracts the distance and calls the server to get times to
  // fill in open and close times in a human-readable format.
  // (If we want to also keep the ISO-formatted times, we'll need to
  // stash them in hidden fields.) 
  // function calc_times(control) {
  //   var km = control.find("input[name='km']").val();

//   function memoizer(control){
    
    
//     var begin_date = $("#begin_date").val();
//     var begin_time = $("#begin_time").val();
    
//   //   console.log(begin_date);
//   //   console.log(begin_time);
    
//   //   $.getJSON(TIME_CALC_URL, { km: km, brevet_dist_km: brevet_dist_km, begin_date: begin_date, begin_time: begin_time }, 
//   //     // response handler
//   //     function(data) {
//   //        var times = data.result;
//   //        console.log("Got a response: " +  times);
//   //        console.log("Response.open = " + times.open);
//   //        open_time_field.val( moment(times.open).format("ddd M/D H:mm"));
//   //        close_time_field.val( moment(times.close).format("ddd M/D H:mm"));
//   //      } // end of handler function
//   //    );// End of getJSON
// }
//   //   }
//   var testt = memoizer();
//   console.log(testt); -->


  

</script>
  

  </body>
</html>