<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Memo Submission Form</title>
  </head>
  <body>
  	<!-- <form role="form"> -->

  
    


   <!--  Name: <input type="text" id="myText" value="Mickey">

	<p>Click the button to change the value of the text field.</p> -->

	<!-- <button onclick="dealer()">Send to DB</button> -->

	<!-- </form> -->
	<!-- Form for getting the date and value of the text-based database entry -->
	<form method="POST"  action="/_create">
		<input type=date name="date" id="date" value="2017-01-01" />
    	<input type=time name="begin_time" id="begin_time" value="00:00"    />
        <input type="text" name="text">
        <input type="submit" name="create" value="Send">
    </form>
    
    <!-- request.args.get(isit) -->
  


  

  </body>
</html>